 <body class="about_us">
 <h1>Documentación Sistema B2B - Grupo 7</h1>
	<div id="body" class="metro">
		<div id="main_content">
			<div id="content">
				
				<%= render "api/v1/b2b/register_group" %>
				<%= render "api/v1/b2b/obtener_token" %>
				<%= render "api/v1/b2b/orden_creada" %>
				<%= render "api/v1/b2b/orden_aceptada" %>
				<%= render "api/v1/b2b/orden_cancelada" %>
				<%= render "api/v1/b2b/orden_rechazada" %>
				<%= render "api/v1/b2b/notificar_factura_emitida" %>
				<%= render "api/v1/b2b/notificar_factura_pagada" %>
				<%= render "api/v1/b2b/notificar_factura_rechazada" %>

			</div>
		</div>
	</div>
 </div>


    		
